<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="setContent(content)">

<!-- molla/index-20.html  22 Nov 2019 10:01:15 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BookStore</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="BookStore - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{assets/images/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/images/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/assets/images/icons/site.html}">
    <link rel="mask-icon" th:href="@{/assets/images/icons/safari-pinned-tab.svg}" color="#666666">
    <link rel="shortcut icon" th:href="@{/assets/images/icons/favicon.ico}">
    <meta name="apple-mobile-web-app-title" content="BookStore">
    <meta name="application-name" content="BookStore">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" th:content="@{/assets/images/icons/browserconfig.xml}">
    <meta name="theme-color" content="#ffffff">

    <!--    <link rel="stylesheet" th:href="@{/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css}">-->
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnific-popup/magnific-popup.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/skins/skin-demo-20.css}">
    <link rel="stylesheet" th:href="@{/assets/css/demos/demo-20.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/nouislider/nouislider.css}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Plugins JS File -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/assets/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/assets/js/superfish.min.js}"></script>
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/wNumb.js}"></script>
    <script th:src="@{/assets/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{/assets/js/nouislider.min.js}"></script>
    <script th:src="@{/assets/js/jquery.elevateZoom.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/demos/demo-20.js}"></script>
</head>

<body>
<div class="page-wrapper">
    <header class="header header-12">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <a><i class="las la-phone"></i>Call: 00-000-0000</a>
                </div><!-- End .header-left -->

                <div class="header-right">

                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul class="dropdown-links">
                                <li><a href="/login" data-toggle="modal">Sign in / Sign up</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->

            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="/" class="logo">
                        <img th:src="@{/assets/images/demo-20/logo.jpg}" alt="Molla Logo" width="105" height="24">
                    </a>
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                        <a href="#" class="search-toggle" role="button"><i class="las la-search"></i></a>
                        <form action="/list" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="keyword" id="q" placeholder="Search" required>

                                <div class="select-custom">
                                    <label for="cat"></label>
                                    <select id="cat" name="type">
                                        <option value="t">제목</option>
                                        <option value="w">저자</option>
                                        <option value="c">본문</option>
                                    </select>
                                </div><!-- End .select-custom -->
                                <button class="btn btn-primary" type="submit"><i class="las la-search"></i></button>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->

                    <div class="header-dropdown-link">
                        <div class="account">
                            <a href="dashboard.html" title="My account">
                                <div class="icon">
                                    <i class="las la-user"></i>
                                </div>
                                <p>Account</p>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="las la-shopping-cart"></i>
                                    <span class="cart-count">2</span>
                                </div>
                                <p>Cart</p>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $84.00
                                                </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img th:src="@{/assets/images/products/cart/product-1.jpg}" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $76.00
                                                </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img th:src="@{/assets/images/products/cart/product-2.jpg}" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="las la-long-arrow-alt-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container">
                <div style="background-color: #333; display: flex; width: 100%;">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                메뉴
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        <!--<li class="item-lead"><a href="#">Best Books of 2018</a></li>
                                        <li class="item-lead"><a href="#">New for 2019</a></li>-->
                                        <li><a href="/list?page=1&type=&keyword=&category=1">소설</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=2">시/에세이</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=3">인문</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=4">가정/육아</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=5">요리</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=6">취미/실용/스포츠</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=7">경제/경영</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=8">자기계발</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=9">정치/사회</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=10">역사/문화</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=11">종교</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=12">참고서</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=13">만화</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=14">컴퓨터/IT</a></li>
                                        <li><a href="/list?page=1&type=&keyword=&category=15">여행</a></li>
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/list" class="sf-with-ul">등록된 모든 도서</a>
                                <li>
                                    <a href="#" class="sf-with-ul">문의사항</a>
                                    <ul>
                                        <li>
                                            <a href="#" class="sf-with-ul">About</a>
                                            <ul>
                                                <li><a href="#">About 01</a></li>
                                                <li><a href="#">About 02</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="sf-with-ul">Contact</a>

                                            <ul>
                                                <li><a href="#">Contact 01</a></li>
                                                <li><a href="#">Contact 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                        <li><a href="#">Coming Soon</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div>

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p> 중고 도서 구입중 </p>
                    </div><!-- End .header-right -->
                </div>
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <th:block th:replace = "${content}"></th:block>

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-xl-5">
                            <div class="widget widget-about">
                                <img th:src="@{/assets/images/demo-20/logo-footer.jpg}" class="footer-logo" alt="Footer Logo" width="104" height="24">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+0123 456 789</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img th:src="@{/assets/images/payments.png}" alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-lg-6 col-xl-7">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">About BookStore</a></li>
                                            <li><a href="#">How to shop on BookStore</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="#">Contact us</a></li>
                                            <li><a href="login.html">Log in</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 col-lg-3 -->

                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Payment Methods</a></li>
                                            <li><a href="#">Money-back guarantee!</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Shipping</a></li>
                                            <li><a href="#">Terms and conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 col-lg-3 -->

                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="login.html">Sign In</a></li>
                                            <li><a href="cart.html">View Cart</a></li>
                                            <li><a href="wishlist.html">My Wishlist</a></li>
                                            <li><a href="#">Track My Order</a></li>
                                            <li><a href="#">Help</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 col-lg-2 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 col-xl-7 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2023 Book Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

</body>


<!-- molla/index-20.html  22 Nov 2019 10:01:31 GMT -->
</th:block>
</html>